.php_cs*
composer.lock
symfony.lock
yarn.lock
docker-compose.yaml
.env.local
.env
.build
public/bundles/
public/uploads/*
public/build/*
var/*
vendor/*
config/packages/dev/doctrine.yaml
node_modules/*
npm-debug.log
yarn-error.log
behat.yml
Resources/webpackConfig-undefined.json
todo.txt
.env.local.php
